body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    background-color: #f4e1ff; 
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #7d48b1; 
    color: #fff;
    padding: 20px;
    
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 120px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

button {
    margin-bottom: 10px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a270d9;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #8e5eb5;
    transform: translateY(-3px);
}

.click {
    background-color: #3d1a63;
    border-radius: 7px;
}
.tt{
    display: flex;
    align-items: center;
    margin-bottom: 20px;  
}
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;

}
.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 2cm;
    color: #5d267d;
}

.form-section {
    margin-bottom: 30px;
    margin-left: 4cm;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.submit-btn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    font-family: sans-serif;
}

.submit-btn:hover {
    background-color: #45a049;
}

input,
select,
textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.candidatesTable {

    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}